name: Android CD - Build Release APK

on:
  push:
    branches:
      - main
  workflow_dispatch: {}   # Cho phép chạy thủ công

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: '21'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}-${{ hashFiles('**/build.gradle*','**/settings.gradle*') }}

      - name: Grant permission to gradlew
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: ./gradlew clean assembleRelease --console=plain

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: app/build/outputs/apk/release/*.apk
